# Default ignored files
/shelf/
/workspace.xml
# Игнорировать файлы, созданные Python IDE
__pycache__/
*.pyc

# Игнорировать файлы конфигурации
config.ini

# Игнорировать директорию с локальными настройками проекта
.idea/

# Игнорировать виртуальное окружение Python
venv/
